@import "base";

.results {
  margin-bottom: 60px;
}

.result {
  margin-bottom: 10px;
}

.result-header {
  padding: 2px 0 2px 10px;
  border-radius: 2px;
  font-size: 1.2em;

  > .icon {
    margin-right: 12px;
    cursor: pointer;
  }
}

.result-current {
  background-color: #7cc;
}

.result-empty > .result-header {
  background-color: rgba($baseColor, 0.4);
}

.result-success > .result-header{
  background-color: $success;
  color: #fff;

  &.expanded {
    border-bottom: 2px solid darken($success, 20%);
  }
}

.result-error > .result-header{
  background-color: $error;
  color: #fff;
}

.result-count {
  display: none;
}

.result-orders {
  padding-top: 15px;

  padding-left: 10px;
  margin-left: 15px;
  margin-bottom: 15px;
  border-left: 1px solid #333;
  border-collapse: separate;
  border-spacing: 0;
  overflow: auto;

  td{
    padding: 3px 5px;
    border-bottom: 1px solid #ccc;
    text-align: center;
  }

  &.collapsed {
    display: none;
  }

}


